---
    import "../../styles/global.css"
    import Layout from "../../layouts/Layout.astro"
---
<Layout title="Dunkerque - CinePedia">
    <main>
        <h2 class="text-2xl font-bold mt-6 ml-16 mb-8 ">Dunkerque</h2>
        <div class="w-full mx-auto ml-auto mr-auto">
            <section class="flex">
                <h1 class="text-lg font-bold text-black ml-20 inline-block">Director: <h1 class="mt-0.8 ml-4">Christopher Nolan</h1></h1>
            </section>
        </div>
    </main>
</Layout>