---
import "../styles/global.css";
import Layout from '../layouts/Layout.astro';
---
<Layout title="Inicio - CinePedia">
    <main>
        <div class="mt-6">
            <h1 class="inline-flex ml-10 text-3xl font-bold">CinePedia <img src="/src/public/flecha-correcta.svg" class="w-6 mt-1 ml-2 mr-2"> La enciclopedia del cine</h1>
        </div>
    </main>
</Layout>
