---
// footer.astro
---
<footer class="w-full bg-neutral-800 text-white py-6 mt-10">
    <div class="max-w-7xl mx-auto px-4">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <p class="font-semibold">© 2025 CinePedia</p>
            <p>Desarrollado por <a href="https://www.linkedin.com/in/martin-adolfo-bravo-monta%C3%B1o-5b1400340/" target="_blank" class="text-blue-400 hover:underline">Martin Adolfo</a></p>
            <p>Puedes visitar mi GitHub <a href="https://github.com/Martin08ABM?tab=repositories" target="_blank" class="text-blue-400 hover:underline">clicando aquí</a></p>
        </div>
    </div>
</footer>