<footer class="w-full h-32 bg-neutral-700 p-3 mt-10">
    <div class="w-4/5">
        <div class="block justify-between">
            <div class="text-white mt-3 ml-6"><p class="font-2xl">© 2025 CinePedia</p></div>
            <div class="text-white ml-10"><p>Desarrollado por <a href="https://www.linkedin.com/in/martin-adolfo-bravo-monta%C3%B1o-5b1400340/" class="text-blue-500">Martin Adolfo</a> clica para ver mi perfil de LinkedIn</p></div>
            <div class="text-white ml-10"><p>Puedes visitar mi GitHub <a href="https://github.com/Martin08ABM?tab=repositories" class="text-blue-500">clicando aquí</a></p></div>
    </div>
</footer>