---
// header.astro
import "../styles/global.css";
import { peliculas } from "../assets/arrayFilms.js";
import Search from '../../src/components/Search.jsx';
---
<header class="w-full h-auto bg-black p-6 flex flex-col md:flex-row justify-between items-center">
    <div class="text-white text-3xl font-bold mb-4 md:mb-0">
        <a href="/">CinePedia | La enciclopedia del cine</a>
    </div>
    <div>
        <form class="flex items-center">
        <Search peliculas={peliculas} client:load/>
        </form>
    </div>
</header>
<nav class="bg-neutral-900 p-3">
    <ul class="flex justify-center space-x-10">
        <li><a href="/" class="text-white hover:text-neutral-400">Inicio</a></li>
        <li><a href="/about" class="text-white hover:text-neutral-400">Sobre nosotros</a></li>
        <li><a href="/contact" class="text-white hover:text-neutral-400">Contacto</a></li>
    </ul>
</nav>
