---
    import "../styles/global.css";
---
<!-- Header -->
<header class="w-full h-[6rem] bg-black p-8 inline-flex justify-between items-center">
    <div class="text-white text-3xl font-bold mt-[-0.7rem] ml-5">
        CinePedia
    </div>
    <div class="mr-30">
        <search>
            <form class="flex items">
                <input type="text" name="Busqueda" id="Busqueda" placeholder="Buscar" class="bg-white rounded-2xl p-1.5 w-50">
            </form>
        <search>
    </div>
</header>
<!-- End Header -->
<nav class="bg-neutral-900 p-4">
    <ul class="flex justify-center">
        <li class="mr-5">
            <a href="/" class="text-white mr-40">Inicio</a>
        </li>
        <li class="mr-5">
            <a href="/about" class="text-white mr-40">Sobre nosotros</a>
        </li>
        <li class="mr-5">
            <a href="/contact" class="text-white">Contacto</a>
        </li>
    </ul>
</nav>