---
    import "../styles/global.css";
---
<!-- Header -->
<header class="w-full h-[6rem] bg-black p-8 inline-flex justify-between items-center">
    <div class="text-white text-3xl font-bold mt-[-0.7rem] ml-5">
        CinePedia
    </div>
    <div class="mr-30">
        <search>
            <form class="flex items">
                <input type="text" name="Busqueda" id="Busqueda" placeholder="Buscar" class="bg-gray-200 rounded-2xl p-1.5 w-50">
            </form>
        <search>
    </div>
</header>

<!-- Navigation -->
<div class="flex flex-row justify-center bg-black/90 p-4">
    <ul class="flex flex-row gap-5 w-screen justify-center align-center h-8">
        <a href="../pages/subpages/categories.astro" class="decoration-0"><li class="text-white text-lg font-bold mr-8 cursor-pointer hover:text-neutral-400" id="categories">Categorías</li></a>
        <a href="../pages/subpages/popularFilms.astro"><li class="text-white text-lg font-bold ml-8 mr-8 cursor-pointer hover:text-neutral-400" id="popularFilms">Películas populares</li></a>
        <a href=""></a><li class="text-white text-lg font-bold ml-8 mr-8 cursor-pointer hover:text-neutral-400" id="popularSeries">Series populares</li>
        <li class="text-white text-lg font-bold ml-8 mr-8 cursor-pointer hover:text-neutral-400" id="actors">Actores</li>
        <li class="text-white text-lg font-bold ml-8 mr-8 cursor-pointer hover:text-neutral-400" id="directors">Directores</li>
        <li class="text-white text-lg font-bold ml-8 cursor-pointer hover:text-neutral-400" id="studios">Estudios</li>
    </ul>   
</div>