---
import "../../styles/global.css";
import Layout from '../../layouts/Layout.astro';
import Analytics from '../../components/analytics.astro';
---
<Layout title="Categorías - CinePedia">
    <Analytics />
    <main class="w-screen">
        <h1 class="text-3xl font-bold">Categorías</h1>
        <div class="mt-6">

        </div>
    </main>
</Layout>