---
import "../styles/global.css";
import Layout from '../../layouts/Layout.astro';
---
<Layout title="Películas Populares - CinePedia">
    <main class="w-screen">
        <h1 class="text-3xl font-bold">Películas Populares</h1>
        <div class="mt-6">

        </div>
    </main>
</Layout>